
.wrapper {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden; /* 👈 скрывает скроллы ТОЛЬКО в пределах этой страницы */
}


.container {
  height: 100dvh;
  width: 100dvw;
  background: linear-gradient(135deg, #004F5A66, #008EAC66, #FFD70033);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.pokemonLogo {
  width: 80%;
  max-width: 200px;
  margin-bottom: 20px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

.page {
  background: linear-gradient(145deg, #ffffff 0%, #f5f5f5 100%);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pageContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  text-align: center;

}

@media (max-width: 550px) {
  .pageContent {
    padding: 10px;
  }
}

.firstPageContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
  text-align: center;
  min-height: 650px; /* или точную высоту FlipBook */
}

.cover {
  background: radial-gradient(circle at center, #00ABC2 0%, #00596B 100%);
  color: white;
}

.pokemonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 5px;
}

.pokemonContainer img {
  width: 70%;
  max-height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.pokemonContainer img:hover {
  transform: scale(1.05);
}

.pokemonInfo {
  width: 100%;
}

.pokemonName {
  font-size: clamp(16px, 1.5vw, 18px);
  font-weight: 700;
  color: #2c3e50;
  white-space: pre-line;
}

.pokemonNumber {
  font-size: clamp(0.7rem, 2vw, 1rem);
  color: #7f8c8d;
  margin-bottom: 10px;
}

.pokemonType {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: clamp(0.6rem, 1.5vw, 0.9rem);
  font-weight: 500;
  color: white;
  margin: 0 3px 5px 3px;
}

/* Типы */
.type-electric {
  background-color: #f1c40f;
}

.type-ground {
  background-color: #e67e22;
}

.type-poison {
  background-color: #9b59b6;
}

.type-fire {
  background-color: #e74c3c;
}

.type-flying {
  background-color: #3498db;
}

.type-water {
  background-color: #2980b9;
}

.type-dark {
  background-color: #34495e;
}

.type-fighting {
  background-color: #d35400;
}

.type-steel {
  background-color: #7f8c8d;
}

.type-rock {
  background-color: #9a7b4f;
}

.pokemonDescription {
  font-size: clamp(12px, 1.5vw, 14px);
  white-space: pre-line;
  color: #34495e;
  margin-top: 8px;
  text-align: start;
  line-height: 1.4;
}

.bookWrapper {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book {
  flex: 1;
  width: 100%;
  height: 100%;
  
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}

.navButton {
  background: #00AFCA;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.2s, box-shadow 0.2s;
}

.navButton:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 171, 194, 0.4);
}

.pageCount {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}

.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  color: #2c3e50;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: rgba(230, 230, 230, 0.95);
}

.selectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.articleNav {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}


.articleNav select {
  appearance: none;         /* убираем системный стиль */
  -webkit-appearance: none; /* для Safari */
  -moz-appearance: none;    /* для Firefox */
  background: none;
  border: none;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  color: #333;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #ccc;
  user-select: none;
  position: relative;
}

.selectIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* иконка не перехватывает клики */
}
